@font-face {
    font-family: 'N27';
    src: url('../fonts/web/N27-Regular.woff2') format('woff2'),
        url('../fonts/web/N27-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27';
    src: url('../fonts/web/N27-ExtraLight.woff2') format('woff2'),
        url('../fonts/web/N27-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27';
    src: url('../fonts/web/N27-Bold.woff2') format('woff2'),
        url('../fonts/web/N27-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27';
    src: url('../fonts/web/N27-RegularItalic.woff2') format('woff2'),
        url('../fonts/web/N27-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'N27';
    src: url('../fonts/web/N27-Light.woff2') format('woff2'),
        url('../fonts/web/N27-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27';
    src: url('../fonts/web/N27-Medium.woff2') format('woff2'),
        url('../fonts/web/N27-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'N27';
    src: url('N27-Thin.woff2') format('woff2'),
        url('N27-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

